.container{
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.bar{
  width: 60px;
  height: 300px;
  background-color: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
}
li{
  float: left;
  list-style-type:none;
  margin-bottom: 15px;
  cursor: pointer;
}
.logo_group{
  position: absolute;
  left: 10px;
  top: 0;
  padding: 0;
}
#text{
  margin-top: 10%;
  width: 100%;
  border: 0;
  outline: none;
  /* height: auto; */
  line-height: 30px;
  font-size: 22px;
  font-weight: 300;
  caret-color: #aaa;
  height: 80%;
  resize:none;
  max-height: 12200px;
}
.message{
  position: fixed;
  top: 30px;
  left: 48%;
  padding: 10px 15px;
  color: white;
  font-weight: 600;
  background-color: #494444;
}
 /* 用div模拟textarea  */
 .textarea_bro{
    width: 400px; 
    min-height: 20px; 
    max-height: 1200px;
    _height: 120px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 3px; 
    outline: 0;
    font-size: 12px; 
    line-height: 24px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
}
#temp-copy-area {
  display: block;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
}
